html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.container {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-front{
    background-color: Indigo;
    height: 70%;
    width: 70%;
    border-radius: 15px; 
    display: grid;
    place-items: center;
}
#cabecalho{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 55px;
    font-size: 80px;
}
#entradaDados{
    width: 200px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 10px;
}
.botao{
    color: Indigo;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}
.botao:hover {
    background-color: #45a049;
}